[submodule "ai"]
	path = ai
	url = https://github.com/fanton-dev/intero-ai
	branch = main
[submodule "server"]
	path = server
	url = https://github.com/fanton-dev/intero-server
	branch = main
[submodule "plotter"]
	path = plotter
	url = https://github.com/fanton-dev/intero-plotter
	branch = main
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/fanton-dev/intero-infrastructure
	branch = main
